<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
<!--     xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring" -->
<!--                             http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring -->
<!--                             http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd -->
    <context:component-scan base-package="kr.jh">
        <context:exclude-filter
            type="aspectj"
            expression="kr.jh.config.*" />
        <context:exclude-filter
            type="aspectj"
            expression="kr.jh.controller.*" />
    </context:component-scan>
    
    <!-- property place holder -->
<!--     <bean -->
<!--         id="propertyConfigurer" -->
<!--         class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--         <property name="locations"> -->
<!--             <list> -->
<!--                 <value>classpath:config/${server.mode}.properties/database.properties</value> -->
<!--                 <value>classpath:config/${server.mode}.properties/config.properties</value> -->
<!--             </list> -->
<!--         </property> -->
<!--     </bean> -->
    
    <!-- Message Properties -->
<!--     <bean -->
<!--         id="messageSource" -->
<!--         class="org.springframework.context.support.ReloadableResourceBundleMessageSource"> -->
<!--         <property name="basenames"> -->
<!--             <list> -->
<!--                 <value>/WEB-INF/message/context</value> -->
<!--                 <value>/WEB-INF/message/common</value> -->
<!--                 <value>/WEB-INF/message/error</value> -->
<!--                 <value>/WEB-INF/message/mailtemplate</value> -->
<!--             </list> -->
<!--         </property> -->
<!--         <property -->
<!--             name="cacheSeconds" -->
<!--             value="${message.reload.second}" /> -->
<!--         <property -->
<!--             name="defaultEncoding" -->
<!--             value="UTF-8" /> -->
<!--     </bean> -->
    
    <!--  Message Accessor -->
<!--     <bean -->
<!--         id="messageSourceAccessor" -->
<!--         class="org.springframework.context.support.MessageSourceAccessor"> -->
<!--         <constructor-arg> -->
<!--             <ref bean="messageSource" /> -->
<!--         </constructor-arg> -->
<!--     </bean> -->
    
    <!-- mail sender -->
<!--     <bean -->
<!--         id="mailSender" -->
<!--         class="org.springframework.mail.javamail.JavaMailSenderImpl" -->
<!--         p:host="${mail.host}" -->
<!--         p:port="${mail.port}" -->
<!--         p:protocol="${mail.protocol}" -->
<!--         p:username="${mail.username}" -->
<!--         p:password="${mail.password}"> -->
<!--         <property name="javaMailProperties"> -->
<!--             <props> -->
<!--                 <prop key="mail.smtps.auth">${mail.smtps.auth}</prop> -->
<!--                 <prop key="mail.smtps.startls.enable">${mail.smtps.startls}</prop> -->
<!--                 <prop key="mail.smtps.debug">${mail.smtps.debug}</prop> -->
<!--             </props> -->
<!--         </property> -->
<!--     </bean> -->

    <!-- ehcache -->
    <!--
    <bean
        id="ehcache"
        class="org.springframework.cache.ehcache.EhCacheFactoryBean"
        p:cacheName="defaultCache">
        <property name="cacheManager">
            <bean
                class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
                p:configLocation="classpath:config/context/ehcache.xml" />
        </property>
    </bean>
     -->
<!--     <ehcache:annotation-driven /> -->
<!--     <ehcache:config cache-manager="cacheManager"> -->
<!--         <ehcache:evict-expired-elements interval="60" /> -->
<!--     </ehcache:config> -->
<!--     <bean -->
<!--         id="cacheManager" -->
<!--         class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" -->
<!--         p:cacheManagerName="defaultCacheManager" -->
<!--         p:configLocation="classpath:config/context/ehcache.xml" /> -->
</beans>